/* 전체 부분 */
* {
    margin: 0px;
    padding: 0px;
}

/* input 텍스트 클릭 시 테두리 X */
input:focus {
    outline: none;
}

/* a태그 클릭시 */
a {
    text-decoration: none;
    color: black;
}

/* 맨 위부터 로고 아랫부분까지 사이즈 조정 용 박스 */
.header-banner {
    position: relative;
    max-width: 1100px;
    min-height: 120px;
    margin: 0 auto;
}

/* 로그인 ~ 고객센터까지 */
.service-header {
    display: flex;
    position: absolute;
    right: 1px;
    gap: 13px;
}

/* 로그인 ~ 고객센터 텍스트 */
.service-header>a>p {
    font-size: 12px;
    line-height: 25px;
}

/* 로그인 ~ 고객센터 텍스트 사이 | <  */
.After::after {
    display: inline-block;
    width: 1px;
    height: 11px;
    vertical-align: middle;
    background-color: gray;
    margin: -2px 0 0 11px;
    content: "";
}

/* 로고 이미지 */
.logo {
    position: absolute;
    top: 50px;
}

/* 검색창 박스 */
.header-search {
    position: absolute;
    top: 55px;
    right: 110px;
    width: 400px;
}

/* 검색창 ~ 검색버튼까지 박스 */
.search-box {
    position: relative;
    border: 1px solid #9BCE26;
    border-radius: 7px;
    font-weight: 500;
    padding: 0px 45px 0px 15px;
    width: 330px;
    height: 30px;
}

/* 검색창 부분 */
#search {
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

/* 돋보기 검색하는 곳 */
.search-bt {
    position: absolute;
    right: 10px;
    border: 0;
    background-color: #fff;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* 돋보기 검색 이미지 */
.search-bt:after {
    display: inline-block;
    content: "";
    background: url(../images/main/header/search.png);
    width: 14px;
    height: 14px;
    background-size: 13px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: top;
}

/* mypage , basket 박스 */
.page {
    position: absolute;
    top: 60px;
    right: 3px;
    display: flex;
    width: 65px;
    height: 30px;
    justify-content: space-between;
}

/* 마이페이지 이미지 박스 */
.mypage {
    background: url(../images/main/header/user.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 장바구니 이미지 박스 */
.mybasket {
    background: url(../images/main/header/basket.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 장바구니 이미지에 걸쳐있는 숫자 부분 */
.count {
    position: absolute;
    top: -2px;
    right: -5px;
    font-style: normal;
    background: #FF542A;
    color: white;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    width: 13px;
    height: 13px;
    line-height: 15px;
    font-weight: bold;
}

/* 카테고리 ~ 한집배달 전체 박스 */
.menu {
    /* width: 100%; */
    font-size: 18px;
    height: 40px;
}

/* 카테고리 ~ 한집배달 중간 사이즈 조정 용 박스 */
.menu-wrap {
    display: flex;
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
}

/* 맛집랭킹 ~ 한집배달 부분 박스 */
.liner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
}

/* 카테고리 부분 전체박스 */
.category {
    position: relative;
    height: 100%;
    display: block;
    width: 190px;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

/* 카테고리 오른쪽 부분 | */
.category::after {
    display: block;
    content: '';
    position: absolute;
    top: 3px;
    right: 0;
    width: 1px;
    height: 16px;
    background: #ccc;
}

/* 카테고리 왼쪽 부분 작대기 3개 */
.category::before {
    display: inline-block;
    width: 14px;
    height: 12px;
    content: "";
    vertical-align: middle;
    background: url(https://www.rankingdak.com/resources/pc/images/icon/ico_gnb_all.png)0 0;
    margin: -3px 10px 0 0;

}

/* 메인비쥬얼 이미지  */
.main-img > img{
    max-width: 100%;
}

/* 메인컨텐츠_베스트메뉴 */
.main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 0 170px;
    
    width: 1300px;
    margin: 0 auto;
}

.main-wrap>h2{
    font-size: 40PX;
    color: #222;
    letter-spacing: -2px;
}

/* 베스트메뉴 탭 */
.main-wrap .tab{
    padding:42px 0 90px;
}

.main-wrap .tab>ul{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.main-wrap .tab li{
    width: 110px; height: 110px;
    border-radius: 20px;
    padding: 20px 10px 22px;
    box-sizing: border-box;
    display: block;
}

.main-wrap .black{
    background-color: #222;
}

.main-wrap .black>a{
    color: #9BCE26;
    font-weight: 800;
}

.main-wrap .gray{
    background-color: #F2F2F2;
}

.main-wrap .tab a{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 베스트메뉴 상품 */
.contents ul{
    display: flex;
    flex-direction: row;
    gap:30px;
    list-style-type: none;
}
.contents ul:nth-child(1){
    margin-bottom: 90px;
}

/* 상품사진 */
.food{
    margin-bottom: 25px;
}

/* 상품정보 */
.contents .num1{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.contents .text-box{
    width:226px;
}

.contents .text-box a{
    font-size: 16px;
    letter-spacing: -1px;
}

.contents .num1{
    font-size: 20px;
    color: #444;
    font-weight: bold;
    line-height: 20px;
}

.contents .num2{
    margin-bottom: 20px;
}

.contents .num2>span:nth-child(1){
    font-size: 20px;
    color: #FF4E42;
    font-weight: bold;
}

.contents .num2>span:nth-child(2){
    font-size: 20px;
    color: #444;
    font-weight: bold;
}

.contents .num2>span:nth-child(3){
    font-size: 16px;
    color: #888888;
    text-decoration: line-through;
    /* font-weight: bold; */
}

.num3{
    display: flex;
    flex-direction: row;
    gap:4px;
}

.num3>p{
    width:76px; height: 20px;
    border-radius: 20px;
    text-align: center;
}

.num3>p>span{
    color: #fff;
    font-size: 12px;
    margin: auto 0;
}

.num3>p.new_blue{
    background-color: #2695CE;
}

.num3>p.quick_red{
    background-color: #FF4E42;
}